/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.materias-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.materias-table th, .materias-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.materias-table th {
    background-color: #333;
    color: white;
}

.materias-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.materias-table tr:hover {
    background-color: #f1f1f1;
}

.buttons {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.theme-toggle {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.theme-toggle:hover {
    background-color: #555;
}

/* Tema oscuro */
body.dark-theme {
    background-color: #333;
    color: white;
}

body.dark-theme .materias-table th {
    background-color: #222;
}

body.dark-theme .button {
    background-color: #0056b3;
}

body.dark-theme .theme-toggle {
    background-color: #555;
}
